body {
  padding: 50px 0px 50px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: cadetblue!important;
}

a {
  color: #00B7FF;
}

.box-space {
      padding: 20px 0px 20px 0px;
}

.opr-btn{
  width: 90%!important;
  padding:0px!important;
  font-size: 25px!important;
}

.clr-btn{
  width: 80%!important;
}

.box-btn{
  padding-bottom: 20px; 
}

.size{
  font-size: 24px;
  font-weight: bold;
}

.result{
    text-align: center;
    padding-right: 40px!important;
}

.txt-box{
  height: 40px;
  padding-left: 5px;
  border: 2px solid #566d7e;
  border-radius: 10px;
}

.calc-body{
  border: grey solid;
    border-radius: 10px;
    background-color: burlywood;
}

.clr-box{
  padding-bottom: 20px;
}

.res-exp{
  text-align: center;
  padding-right: 30px;
}